#nameplate0 {
  left: -50px;
  top: 345px;
  width: 642px;
}

.pronouns0 {
  font-size: 20px;
}

#hostname {
  position: absolute;
  left: 125px;
  top: 400px;
  width: 404px;
  font-size: 28px;
}

#hostpronouns {
  position: absolute;
  left: 300px;
  top: 407px;
  font-size: 20px;
}

#comms1name {
  position: absolute;
  left: 125px;
  top: 455px;
  font-size: 28px;
}

#comms1pro {
  position: absolute;
  left: 95px;
  top: 485px;
  font-size: 15px;
}

#comms2name {
  position: absolute;
  left: 355px;
  top: 450px;
  font-size: 28px;
}

#comms2pro {
  position: absolute;
  left: 325px;
  top: 480px;
  font-size: 15px;
}

#comms3name {
  position: absolute;
  left: 125px;
  top: 680px;
  font-size: 28px;
}

#comms3pro {
  position: absolute;
  left: 95px;
  top: 710px;
  font-size: 23px;
}

#runInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 13px;
  top: 260px;
  width: 500px;
  height: 138px;
}

/* #gameName {
  text-wrap: wrap;
  left: 5px;
  width: 589px;
  height: 80px;
} */

#runInfo {
  display: flex;
  flex-wrap: wrap;
  left: 50px;
  width: 500px;
  height: 95px;
  align-items: center;
  justify-content: space-evenly;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: -30px;
  top: 10px;
  width: 575px;
  height: 30px;
  font-size: 30px;
}

#category {
  font-size: 20px;
}

#systemAndYear {
  max-width: 33%;
  font-size: 20px;
}

#estimate {
  max-width: 33%;
  font-size: 20px;
}

#timerContainer {
  left: 115px;
  top: 550px;
  width: 642px;
  height: 160px;
  font-size: 33px;
}
  
#eventTotal {
  position: absolute;
  width: 450px;
  height: 30px;
  top: 670px;
  left: 815px;
  font-size: 30px;
  text-align: right;
}

#eventTitle {
  position:absolute;
  width: 300px;
  top: -5px;
  font-size: 25px;
}

#clock {
  position: absolute;
  left: 1025px;
  top: -5px;
  width: 300px;
  font-size: 25px;
}