#nameplate0 {
  left: 0px;
  top: 318px;
  width: 404px;
}

.twitchText, .runnerText {
  font-size: 25px;
}

.nameplateLogo {
  width: 50px;
  height: 50px;
}

.pronouns {
  font-size: 20px;
}

#hostname {
  position: absolute;
  left: 80px;
  top: 380px;
  width: 404px;
  font-size: 25px;
}

#hostpronouns {
  position: absolute;
  left: 50px;
  top: 410px;
  font-size: 20px;
}

#comms1name {
  position: absolute;
  left: 80px;
  top: 450px;
  font-size: 25px;
}

#comms1pro {
  position: absolute;
  left: 50px;
  top: 480px;
  font-size: 20px;
}

#comms2name {
  position: absolute;
  left: 280px;
  top: 450px;
  font-size: 25px;
}

#comms2pro {
  position: absolute;
  left: 250px;
  top: 480px;
  font-size: 20px;
}

#comms3name {
  position: absolute;
  left: 80px;
  top: 510px;
  font-size: 25px;
}

#comms3pro {
  position: absolute;
  left: 50px;
  top: 540px;
  font-size: 23px;
}

#runInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 710px;
  top: 530px;
  width: 500px;
  height: 95px;
}

#gameName {
  width: 500px;
  height: 60px;
}

#runInfo {
  display: flex;
  flex-wrap: wrap;
  position: unset;
  width: 500px;
  height: 35px;
  align-items: center;
  justify-content: space-evenly;
}

#game {
  display: flex;
  justify-content: center;
  position: unset;
  width: 500px;
  height: 40px;
  font-size: 40px;
}

#category {
  position: unset;
  font-size: 25px;
}

#systemAndYear {
  position: unset;
  font-size: 25px;
}

#estimate {
  position: unset;
  font-size: 25px;
}

#timerContainer {
  left: 284px;
  top: 516px;
  width: 484px;
  height: 119px;
  font-size: 40px;
}

#eventTotal {
  position: absolute;
  width: 450px;
  height: 30px;
  top: 670px;
  left: 815px;
  font-size: 30px;
  text-align: right;
}

#eventTitle {
  position:absolute;
  width: 300px;
  top: -5px;
  font-size: 25px;
}

#clock {
  position: absolute;
  left: 1020px;
  top: -5px;
  width: 300px;
  font-size: 25px;
}
