#nameplate0 {
  left: -75px;
  top: 345px;
  width: 642px;
}

.twitchText, .runnerText {
  font-size: 25px;
}

.nameplateLogo {
  width: 50px;
  height: 50px;
}

.pronouns {
  font-size: 20px;
}

#hostname {
  position: absolute;
  left: 80px;
  top: 395px;
  width: 404px;
  font-size: 25px;
}

#hostpronouns {
  position: absolute;
  left: 50px;
  top: 420px;
  font-size: 20px;
}

#comms1name {
  position: absolute;
  left: 80px;
  top: 450px;
  font-size: 28px;
}

#comms1pro {
  position: absolute;
  left: 50px;
  top: 478px;
  font-size: 23px;
}

#comms2name {
  position: absolute;
  left: 385px;
  top: 620px;
  font-size: 28px;
}

#comms2pro {
  position: absolute;
  left: 355px;
  top: 650px;
  font-size: 23px;
}

#comms3name {
  position: absolute;
  left: 125px;
  top: 680px;
  font-size: 28px;
}

#comms3pro {
  position: absolute;
  left: 95px;
  top: 710px;
  font-size: 23px;
}

#runInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 735px;
  top: 625px;
  width: 600px;
  height: 138px;
}

/* #gameName {
  text-wrap: wrap;
  left: 5px;
  width: 589px;
  height: 80px;
} */

#runInfo {
  display: flex;
  flex-wrap: wrap;
  width: 489px;
  height: 65px;
  align-items: center;
  justify-content: space-evenly;
  left: 255px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 575px;
  height: 40px;
  font-size: 30px;
}

#category {
  font-size: 23px;
}

#systemAndYear {
  max-width: 33%;
  font-size: 23px;
}

#estimate {
  max-width: 33%;
  font-size: 23px;
}

#timerContainer {
  left: -90px;
  top: 232px;
  width: 642px;
  height: 160px;
  font-size: 35px;
}
  
#eventTotal {
  position: absolute;
  width: 450px;
  height: 30px;
  top: 670px;
  left: 365px;
  font-size: 30px;
  text-align: right;
}

#eventTitle {
  position:absolute;
  width: 300px;
  top: -5px;
  font-size: 25px;
}

#clock {
  position: absolute;
  left: 1020px;
  top: -5px;
  width: 300px;
  font-size: 25px;
}