@font-face {
    font-family: Rancho-Regular;
    src: url(../fonts/Rancho-Regular.ttf);
  }
  
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: Exo2;
    src: url(../fonts/Exo2-VariableFont_wght.ttf)
}

body {
    background-color: black;
}

.scheduleText {
    color: white;
}

.eventInfo, .musicInfo {
    color: #ffd700;
    font-family: Exo2;
}

.logoRoll {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 5px;
    top: 125px;
    /* border: solid 2px white; */
}

#header {
    color: #ffd700;
    font-size: 33px;
}

.clock {
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 10px;
    color: #ffd700;
}

#eventTitle {
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 45px;
}

#eventTotal {
    position: absolute;
    font-size: 30px;
    top: 55px;
}

#host {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    position: absolute;
    left: 450px;
    top: 10px;
    width: 450px;
    height: 40px;
}

.hostBlock, .comms0name, .comms0pronouns {
    font-size: 30px;
}

#comingGames {
    color: #ffd700;
    font-size: 50px;   
    text-align: center;
}

#content {
    position: absolute;
    right: 0;
    top: 100px;
    width: 600px;
}

#incentives {
    position: absolute;
    width: 600px;
    height: 250px;
    bottom: 25px;
    left: 5px;
    /* border: solid 3px white; */
}

#incentiveBox {
    position: absolute;
    width: 600px;
    height: 250px;
    color: white;
}

#incentiveName {
    text-align: center;
    font-size: 30px;
}

#incentiveTotal {
    text-align: center;
    font-size: 30px;
}

.options {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}

/* Progress bar code from Eva Wythien:
   https://codepen.io/evawythien/pen/xxXyePG
*/

.container {
    margin: 100px auto;
    width: 600px;
    text-align: center;
}

/* .progress {
    padding: 6px;
    background: black;
    border-radius: 6px;
} */

.progress-bar {
    height: 18px;
    background-color: #000;
    border-radius: 4px;
    width: 100%
}

progress::-webkit-progress-bar {
	height:18px;
	width:580px;
	margin:0 auto;
	background-color: #ffd700;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}

progress::-webkit-progress-value {
	float: left;
	height:18px;
	margin:0px -10px 0 0;
	background: #00C1C9;
	border-radius: 15px;
	box-shadow:0px 0px 6px #666 inset
}

.title {
    font-family: Exo2;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.nextGame {
    border: solid 1px white;
    background-color: #00C1C9;
    justify-content: center;
}

.upcomingGames {
    border: solid 1px white;
    background-color: #00C1C9;
}

.info {
    font-family: OpenSans-Regular;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#music {
    position: absolute;
    text-align: right;
    font-weight: bold;
    right: 5px;
    top: 600px;
    width: 600px;
    height: 250px;
}

#ocremix {
    position: absolute;
    right: 5px;
    width: 250px;
}

#songTitle, #songArtists {
    font-size: 30px;
}

#clock {
    right: 5px;
}
